<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WS_SB1Soap" sendTimeout="00:30:00" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>       
        <behaviors>
          <endpointBehaviors>
            <behavior name="maxItemsInObjectGraph">
              <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
            </behavior>    
          </endpointBehaviors> 
      </behaviors>
      <client>
        <endpoint address="http://172.16.10.29:9090/WS_SB1.asmx" binding="basicHttpBinding"
          bindingConfiguration="WS_SB1Soap" contract="svSAP.WS_SB1Soap" behaviorConfiguration="maxItemsInObjectGraph"
          name="WS_SB1Soap" />
      </client>
    </system.serviceModel>
    <system.web>
     <compilation debug="false" targetFramework="4.0"/>
     <authentication mode="Windows"/>
     <sessionState timeout="240"/>
     <httpRuntime executionTimeout="103600" maxRequestLength="2147483647"/>
     <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    </system.web>
 <system.webServer>
   <modules runAllManagedModulesForAllRequests="true"/>
   <security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="82428800"/>
      </requestFiltering>
   </security>
 </system.webServer>
</configuration>
